<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>欢迎登录</h1>
                <form action="" method="post" style="border: 2px solid #66ccff;padding: 10%;">
                    {% csrf_token  %}
                    {% for field in form %}
                        <div class="form-group has-feedback">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="text-danger">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="is_check" value="True"> 7天免登录
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success" id="login_btn">登录</button>
                    <span id="err" class="text-danger">{{ error_msg }}</span>

                </form>
                <script>
                    $("#email").on("input", function () {
                        var myreg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                        var result = myreg.test($(this).val());
                        if (result) {
                            $("#login_btn").removeAttr("disabled");
                            $("#err").text("");
                            $(this).parent().removeClass("has-error");
                            $(this).next().removeClass("glyphicon-remove");
                            $(this).parent().addClass("has-success");
                            $(this).next().addClass("glyphicon-ok");
                        } else {
                            $("#login_btn").attr('disabled',"true");
                            $("#err").text("输入正确的邮箱");
                            $(this).parent().removeClass("has-success");
                            $(this).next().removeClass("glyphicon-ok");
                            $(this).parent().addClass("has-error");
                            $(this).next().addClass("glyphicon-remove");
                        }
                    });
                    $("#password").on("input",function () {
                        var result = $(this).val().length >= 8;
                        if (result) {
                            $(this).parent().removeClass("has-error");
                            $(this).next().removeClass("glyphicon-remove");
                            $(this).parent().addClass("has-success");
                            $(this).next().addClass("glyphicon-ok");
                        } else {
                            $(this).parent().removeClass("has-success");
                            $(this).next().removeClass("glyphicon-ok");
                            $(this).parent().addClass("has-error");
                            $(this).next().addClass("glyphicon-remove");
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>